Website/Service References/PhraseService/ApiService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.api.jakpisac.edu.pl/ApiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts" />
  <xs:element name="GetPhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q1:GetPhrasesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="GetPhraseResult" nillable="true" type="q2:GetPhrasesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q3:AddPhraseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhraseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Check">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q4:CheckRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="CheckResult" nillable="true" type="q5:CheckResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q6:UpdateRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="UpdateResult" nillable="true" type="q7:UpdateResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOrUpdateUserNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q8:NotificationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterOrUpdateUserNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Match">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q9:MatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q10:GetMessagesRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="GetMessagesResult" nillable="true" type="q11:GetMessagesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomPhrase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q12:GetRandomPhraseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomPhraseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="GetRandomPhraseResult" nillable="true" type="q13:GetPhrasesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastWordOfTheDay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastWordOfTheDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="GetLastWordOfTheDayResult" nillable="true" type="q14:WordOfTheDayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordOfTheDay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q15:WordOfTheDayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWordOfTheDayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="GetWordOfTheDayResult" nillable="true" type="q16:WordOfTheDayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q17:LogErrorRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service.Contracts" minOccurs="0" name="request" nillable="true" type="q18:LogTimeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogTimeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>