Website/Service References/PhraseService/ApiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ApiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.api.jakpisac.edu.pl/ApiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.api.jakpisac.edu.pl/ApiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.api.jakpisac.edu.pl/ApiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Contracts" />
      <xsd:import schemaLocation="http://www.api.jakpisac.edu.pl/ApiService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IApiService_GetPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhrase" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_AddPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPhrase" />
  </wsdl:message>
  <wsdl:message name="IApiService_AddPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="IApiService_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IApiService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_RegisterOrUpdateUserNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOrUpdateUserNotification" />
  </wsdl:message>
  <wsdl:message name="IApiService_RegisterOrUpdateUserNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterOrUpdateUserNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_Match_InputMessage">
    <wsdl:part name="parameters" element="tns:Match" />
  </wsdl:message>
  <wsdl:message name="IApiService_Match_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatchResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessages" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetRandomPhrase_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomPhrase" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetRandomPhrase_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomPhraseResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetLastWordOfTheDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastWordOfTheDay" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetLastWordOfTheDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastWordOfTheDayResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetWordOfTheDay_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWordOfTheDay" />
  </wsdl:message>
  <wsdl:message name="IApiService_GetWordOfTheDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWordOfTheDayResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_LogError_InputMessage">
    <wsdl:part name="parameters" element="tns:LogError" />
  </wsdl:message>
  <wsdl:message name="IApiService_LogError_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IApiService_LogTime_InputMessage">
    <wsdl:part name="parameters" element="tns:LogTime" />
  </wsdl:message>
  <wsdl:message name="IApiService_LogTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IApiService">
    <wsdl:operation name="GetPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/GetPhrase" message="tns:IApiService_GetPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/GetPhraseResponse" message="tns:IApiService_GetPhrase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/AddPhrase" message="tns:IApiService_AddPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/AddPhraseResponse" message="tns:IApiService_AddPhrase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/Check" message="tns:IApiService_Check_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/CheckResponse" message="tns:IApiService_Check_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/Update" message="tns:IApiService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/UpdateResponse" message="tns:IApiService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterOrUpdateUserNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/RegisterOrUpdateUserNotification" message="tns:IApiService_RegisterOrUpdateUserNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/RegisterOrUpdateUserNotificationResponse" message="tns:IApiService_RegisterOrUpdateUserNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Match">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/Match" message="tns:IApiService_Match_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/MatchResponse" message="tns:IApiService_Match_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/GetMessages" message="tns:IApiService_GetMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/GetMessagesResponse" message="tns:IApiService_GetMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomPhrase">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/GetRandomPhrase" message="tns:IApiService_GetRandomPhrase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/GetRandomPhraseResponse" message="tns:IApiService_GetRandomPhrase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastWordOfTheDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/GetLastWordOfTheDay" message="tns:IApiService_GetLastWordOfTheDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/GetLastWordOfTheDayResponse" message="tns:IApiService_GetLastWordOfTheDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWordOfTheDay">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/GetWordOfTheDay" message="tns:IApiService_GetWordOfTheDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/GetWordOfTheDayResponse" message="tns:IApiService_GetWordOfTheDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/LogError" message="tns:IApiService_LogError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/LogErrorResponse" message="tns:IApiService_LogError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IApiService/LogTime" message="tns:IApiService_LogTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IApiService/LogTimeResponse" message="tns:IApiService_LogTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IApiService" type="tns:IApiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPhrase">
      <soap:operation soapAction="http://tempuri.org/IApiService/GetPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhrase">
      <soap:operation soapAction="http://tempuri.org/IApiService/AddPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Check">
      <soap:operation soapAction="http://tempuri.org/IApiService/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IApiService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterOrUpdateUserNotification">
      <soap:operation soapAction="http://tempuri.org/IApiService/RegisterOrUpdateUserNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Match">
      <soap:operation soapAction="http://tempuri.org/IApiService/Match" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessages">
      <soap:operation soapAction="http://tempuri.org/IApiService/GetMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomPhrase">
      <soap:operation soapAction="http://tempuri.org/IApiService/GetRandomPhrase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastWordOfTheDay">
      <soap:operation soapAction="http://tempuri.org/IApiService/GetLastWordOfTheDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWordOfTheDay">
      <soap:operation soapAction="http://tempuri.org/IApiService/GetWordOfTheDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogError">
      <soap:operation soapAction="http://tempuri.org/IApiService/LogError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogTime">
      <soap:operation soapAction="http://tempuri.org/IApiService/LogTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApiService">
    <wsdl:port name="BasicHttpBinding_IApiService" binding="tns:BasicHttpBinding_IApiService">
      <soap:address location="http://www.api.jakpisac.edu.pl/ApiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>